<div>
    <h4>*ngIf</h4>
    <button type="button" class="btn btn-success" (click)="show=!show">TOGGLE</button>
    <figure>
        <img *ngIf="show" height="200" width="200" src="https://www.hindustantimes.com/ht-img/img/2023/08/23/1600x900/n8_1_1664869675170_1692773772473.jpg" alt="burger">
    </figure>
</div>
<div>
    <h4>IF-ELSE</h4>
    <input type="number" placeholder="enter your age" [(ngModel)]="age">
    <p *ngIf="age>=18;else elsepart">
        <b>YOUR ARE ALLOWED</b>
    </p>
    <ng-template #elsepart>
    <p>
        <b>NOT ALLOWED</b>
    </p>
    </ng-template>
</div>

<div>
    <h4>IF-THEN-ELSE</h4>
    <input type="number" placeholder="enter your age" [(ngModel)]="age">
    <span *ngIf="age>=18 then thenpart; else elsepart2"> </span> <!-- this tag will not be a part of DOM-->
    <ng-template #thenpart>
    <p>
        <b>YOUR ARE ALLOWED</b>
    </p>
    </ng-template>
    <ng-template #elsepart2>
    <p>
        <b>NOT ALLOWED</b>
    </p>
    </ng-template>
</div>
<div>
    <input type="number" [(ngModel)]="age" placeholder="enter number">
    <section [ngSwitch]="age"> 
        <p *ngSwitchCase="1">
            <b>Hi</b>
        </p>
        <p *ngSwitchCase="2">
            <b>Hello</b>
        </p>
        <p *ngSwitchCase="3">
            <b>BYE</b>
        </p>
        <p *ngSwitchCase="2">
            <b>Welcome</b>
        </p>
        <p *ngSwitchDefault>
            <b>default case matched</b>
        </p>
    </section>
    <ol [ngSwitch]="age">
        <li *ngSwitchCase="1">HI</li>
        <li *ngSwitchCase="2">Hello</li>
        <li *ngSwitchCase="3">Welcome</li>
        <li *ngSwitchDefault>Default case</li>
    </ol>
    <ol [ngSwitch]="true">
        <li *ngSwitchCase="age>=18">Welcome</li>
        <li *ngSwitchCase="age<18">Sorry</li>
    </ol>
    <label>Select company location : </label>
    <select [(ngModel)]="companyLoc" title="city">
      <option *ngFor="let loc of companyLocations" [value]="loc">{{loc | uppercase}}</option>
    </select>
    <ol [ngSwitch]="companyLoc">
        <li *ngSwitchCase="'Rabale'">its in Navi mumbai</li>
        <li *ngSwitchCase="'Dadar'">its in Mumbai</li>
        <li *ngSwitchCase="'Parel'">its in Mumbai</li>
    </ol>
    <table class="table table-bordered">
        <tbody>
            <tr><th>NAMES : </th><td *ngFor="let name of employeeNames">{{name}}</td></tr>
        </tbody>
    </table>
    <!-- display names vertically in multiple rows-->
    <table class="table table-bordered">
        <tbody>
            <tr *ngFor="let name of employeeNames; let i=index; let ev=even; let odd=odd;">
                <td>{{name}}</td><td>{{i}}</td><td>{{ev}}</td><td>{{odd}}</td>
            </tr>
        </tbody>
    </table>
    <!-- display names only from odd indexes-->
    <table class="table table-bordered">
        <tbody>
            <tr *ngFor="let name of employeeNames; let odd=odd;">
                <td *ngIf="odd">{{name}}</td>
            </tr>
        </tbody>
    </table>
</div>
