<div>
    <h4>*ngIf</h4>
    <button type="button" class="btn btn-success" (click)="show=!show">TOGGLE</button>
    <figure>
        <img *ngIf="show" height="200" width="200" src="https://www.hindustantimes.com/ht-img/img/2023/08/23/1600x900/n8_1_1664869675170_1692773772473.jpg" alt="burger">
    </figure>
</div>
<div>
    <h4>IF-ELSE</h4>
    <input type="number" placeholder="enter your age" [(ngModel)]="age">
    <p *ngIf="age>=18;else elsepart">
        <b>YOUR ARE ALLOWED</b>
    </p>
    <ng-template #elsepart>
    <p>
        <b>NOT ALLOWED</b>
    </p>
    </ng-template>
</div>

<div>
    <h4>IF-THEN-ELSE</h4>
    <input type="number" placeholder="enter your age" [(ngModel)]="age">
    <span *ngIf="age>=18 then thenpart; else elsepart2"> </span> <!-- this tag will not be a part of DOM-->
    <ng-template #thenpart>
    <p>
        <b>YOUR ARE ALLOWED</b>
    </p>
    </ng-template>
    <ng-template #elsepart2>
    <p>
        <b>NOT ALLOWED</b>
    </p>
    </ng-template>
</div>
<div>
    <input type="number" [(ngModel)]="age" placeholder="enter number">
    <section [ngSwitch]="age"> 
        <p *ngSwitchCase="1">
            <b>Hi</b>
        </p>
        <p *ngSwitchCase="2">
            <b>Hello</b>
        </p>
        <p *ngSwitchCase="3">
            <b>BYE</b>
        </p>
        <p *ngSwitchCase="2">
            <b>Welcome</b>
        </p>
        <p *ngSwitchDefault>
            <b>default case matched</b>
        </p>
    </section>
    <ol [ngSwitch]="age">
        <li *ngSwitchCase="1">HI</li>
        <li *ngSwitchCase="2">Hello</li>
        <li *ngSwitchCase="3">Welcome</li>
        <li *ngSwitchDefault>Default case</li>
    </ol>
    <ol [ngSwitch]="true">
        <li *ngSwitchCase="age>=18">Welcome</li>
        <li *ngSwitchCase="age<18">Sorry</li>
    </ol>
    <select [(ngModel)]="companyLoc" title="city">
        <option value="Rabale">RABALE</option>
        <option value="Dadar">DADAR</option>
    </select>
    <ol [ngSwitch]="companyLoc">
        <li *ngSwitchCase="'Rabale'">its in navi mumbai</li>
        <li *ngSwitchCase="'Dadar'">its in mumbai</li>
    </ol>
</div>
