
<div class="card" [ngStyle]="{width: '18rem'}">
    <h5>#{{mycustomer.id}}</h5>
    <img [src]="mycustomer.customerImage" title="image" class="card-img-top" [alt]="mycustomer.customerName">
    <div class="card-body">
      <h5 class="card-title">{{mycustomer.customerName}}</h5> <!-- uppercase, lowercase, tittlecase, slice (u can pass -ve indexes)-->
      <i>This customer registered on {{mycustomer.registerDate | date :'medium'}}</i>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{mycustomer.customerEmail}}</li>
      <li class="list-group-item">{{mycustomer.customerContact}}</li>
      <li class="list-group-item"><span>Age: </span>{{mycustomer.customerAge}}</li>
      <li class="list-group-item">{{mycustomer.username}}</li>
      <li class="list-group-item">{{mycustomer.password}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link" [routerLink]="['/update',mycustomer.id ]">EDIT</a>
      <a href="#" class="card-link">DELETE</a>
    </div>
  </div>