<h3>WELCOME</h3>
<section>
    <p>
        Jack in the Box created the two-way drive-through speaker, 
        the portable salad, and breakfast on the go to provide better service 
        to customers. Now, they're teaming up with Grubhub to offer delivery 
        right to your front door. Founded in 1951 by Robert O. Peterson, who 
        opened the first restaurant as a San Diego drive-through, 
        the hamburgers became so popular that by 1960, Jack in the 
        Box opened new locations across the U.S. The menu continues 
        to evolve, and is available all day long, so you can satisfy 
        morning cravings for Jack's famous tacos or enjoy breakfast food 
        as a late-night snack.
</p>
<p>
If you're hungry for a great burger, try the Classic Buttery Jack®. 
It features a juicy, quarter-pound all-beef patty brushed with melted 
garlic-herb butter and topped with rich provolone, creamy tomato sauce,
 crisp lettuce, and ripe tomatoes on a gourmet signature bun.
  In the mood for a deal? The $3 combo, including three Jack's 
  tacos and a drink of your choice, is sure to satisfy. Jack in the Box breakfast and Brunchfast® selections, like Jumbo Breakfast Platter and Grilled French Toast Plate, make easy meals on the go. And in the hottest weather, cool off by ordering a summer float or a delicious ice-cream shake for delivery.
    </p>
<nav>
    <a class="mx-4"  routerLink="vegfoods">Veg Food List</a> <a class="mx-4" routerLink="nonvegfoods">Nonveg Food List</a>
</nav>

<router-outlet></router-outlet> <!-- Child of Home Component gets loaded -->

</section>