<div class="container w-50 bg-secondary">
    <h3>Customer Register Form</h3>
    <form [formGroup]="registerForm" (submit)="register()">
        <div class="mb-3">
            <label for="id" class="form-label">ID:</label>
            <input type="text" class="form-control" id="id" formControlName="id" >
            <div *ngIf="id?.touched" class="text-danger">
                <b *ngIf="id?.hasError('required')">id is required</b>   
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">NAME:</label>
            <input type="text" class="form-control" id="name" formControlName="customerName">
            <!-- for every field put error block-->
            <div *ngIf="customerName?.touched" class="text-danger">
                <b *ngIf="customerName?.hasError('required')">name is required</b>   
                <b *ngIf="customerName?.hasError('pattern')">please enter valid name</b>   
            </div>
        </div>
        <div class="mb-3">
            <label for="contact" class="form-label">MOBILE NUMBER:</label>
            <input type="text" class="form-control" id="contact" formControlName="customerContact">
            <div *ngIf="customerContact?.touched" class="text-danger">
                <b *ngIf="customerContact?.hasError('required')">contact is required</b>   
                <b *ngIf="customerContact?.hasError('pattern')">please enter valid mobile number</b>  
                <b *ngIf="customerContact?.hasError('minlength') || customerContact?.hasError('maxlength')">please enter 10 digits</b>  
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">EMAIL ID:</label>
            <input type="email" class="form-control" id="email" formControlName="customerEmail">
            <div *ngIf="customerEmail?.touched" class="text-danger">
                <b *ngIf="customerEmail?.hasError('required')">email is required</b>   
            </div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">SET USERNAME:</label>
            <input type="text" class="form-control" id="username" formControlName="username">
            <div *ngIf="username?.touched" class="text-danger">
                <b *ngIf="username?.hasError('required')">username is required</b>   
            </div>
        </div>
        <div class="mb-3">
            <label for="pass" class="form-label">SET PASSWORD:</label>
            <input type="text" class="form-control" id="pass" formControlName="password">
            <div *ngIf="password?.touched" class="text-danger">
                <b *ngIf="password?.hasError('required')">password is required</b>   
            </div>
        </div>
        <div class="mb-3">
            <label for="cpass" class="form-label">CONFIRM PASSWORD:</label>
            <input type="text" class="form-control" id="cpass" formControlName="cpassword">
            <div *ngIf="cpassword?.touched" class="text-danger">
                <b *ngIf="cpassword?.hasError('required')">password confirmation is required</b>   
            </div>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Select Register Date:</label>
            <input type="datetime-local" class="form-control" id="date" formControlName="registerDate">
        </div>
        <button type="submit" class="btn btn-primary">REGISTER</button>
        <button type="reset" class="btn btn-warning">RESET</button>
    </form>
</div>
