<h2>Two-way Data binding using ngModel directive</h2>
<p>data from model => view , if data change in model view gets updated data
    and if data change in view side model gets updated data
    auto synchronization between model and view
</p>
<div>
    <!-- import FormsModule in app.module.ts file-->
    <b>{{companyName}}</b><br>
    <input type="text" placeholder="Enter company name" [(ngModel)]="companyName" (keyup)="prove()"> 
</div>
<div>
    <input [type]="inputType" placeholder="enter data"> 
    <input id="showp" type="checkbox" [(ngModel)]="checkNode" (change)="changeType()">
    <label for="showp">:show password</label>
</div>
<h4>Template Reference Variables</h4>
<p #mypara>
    <b>Hello Welcome to Neosoft</b>
    <i> <b>Hello Welcome to Neosoft</b> </i>
</p>
<button class="btn btn-success" (click)="getPara(mypara)">Get Para Contents</button>
<!-- {{}}, (), [()], []-->