<div>
    <label for="sortChoice">Sort By: </label>
    <select id="sortChoice" [(ngModel)]="property">
        <option value="id">ID</option>
        <option value="customerName">NAME</option>
        <option value="registerDate">REGISTER DATE</option>
        <option value="customerContact">CONTACT</option>
        <option value="customerEmail">EMAIL</option>
        <option value="username">USERNAME</option>
    </select>

</div>
<section class="d-flex flex-wrap">
    <div class="card" [ngStyle]="{width: '18rem'}" *ngFor="let customer of customers | orderby :property">
        <app-customercard [mycustomer]="customer"></app-customercard>
        <mat-divider></mat-divider>
        <div class="card-body d-flex justify-content-between">
            <a href="#" class="card-link" [routerLink]="['/update',customer.id ]" mat-fab color="primary"> <mat-icon>edit</mat-icon></a>
            <button type="button" mat-fab class="card-link" (click)="delete(customer.id)">
                <mat-icon>delete</mat-icon>
              </button>
        </div>
    </div>
</section>
