<div>
    <label for="sortChoice">Sort By: </label>
    <select id="sortChoice" [(ngModel)]="property">
        <option value="id">ID</option>
        <option value="customerName">NAME</option>
        <option value="registerDate">REGISTER DATE</option>
        <option value="customerContact">CONTACT</option>
        <option value="customerEmail">EMAIL</option>
        <option value="username">USERNAME</option>
    </select>

</div>
<section class="d-flex flex-wrap">
    <div class="card" [ngStyle]="{width: '18rem'}" *ngFor="let customer of customers | orderby :property">
        <app-customercard [mycustomer]="customer"></app-customercard>
        <div class="card-body">
            <a href="#" class="card-link" [routerLink]="['/update',customer.id ]">EDIT</a>
            <button type="button" class="card-link" (click)="delete(customer.id)">DELETE</button>
        </div>
    </div>
</section>
