<div>
   
    <mat-label>Sort By : </mat-label>
    <mat-select color="primary" id="sortChoice" [(ngModel)]="property" class="w-25">
        <mat-option value="id">ID</mat-option>
        <mat-option value="customerName">NAME</mat-option>
        <mat-option value="registerDate">REGISTER DATE</mat-option>
        <mat-option value="customerContact">CONTACT</mat-option>
        <mat-option value="customerEmail">EMAIL</mat-option>
        <mat-option value="username">USERNAME</mat-option>
    </mat-select>

</div>
<section class="d-flex flex-wrap">
    <div class="card" [ngStyle]="{width: '18rem'}" *ngFor="let customer of customers | orderby :property">
        <app-customercard [mycustomer]="customer"></app-customercard>
        <mat-divider></mat-divider>
        <div class="card-body d-flex justify-content-between">
            <a href="#" class="card-link" [routerLink]="['/update',customer.id ]" mat-fab color="primary" matTooltip="edit customer" matTooltipPosition="right">
                 <mat-icon>edit</mat-icon></a>
            <button type="button" mat-fab class="card-link" (click)="delete(customer.id)" matTooltip="delete customer" matTooltipPosition="left">
                <mat-icon>delete</mat-icon>
              </button>
        </div>
    </div>
</section>
